<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/config.xsd">
    <default>
        <wishreward_settings>
            <general>
                <enable_module>1</enable_module>
                <allow_guests>1</allow_guests>
                <enable_wheel>1</enable_wheel>
                <default_rule_ids>6,7</default_rule_ids>
                <wheel_sectors>[{"label": "Oh Well, Maybe Next Time", "rule_id": null, "probability": 100}]</wheel_sectors>
                <rotation_duration>5000</rotation_duration>
            </general>
        </wishreward_settings>
    </default>
</config>
