@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

@label-font-size: 20px;
@popup-bg-color: #f81e3d;
@popup-bg-gradient: @popup-bg-color;
@textarea-border-color: #f81e3d;
@button-bg-gradient: #1ec5a3;
@button-text-color: #fff;
@button-radius: 4px;
@button-font-size: 18px;
@shadow-light: rgba(0, 0, 0, 0.2);
@shadow-strong: rgba(0, 0, 0, 0.3);

.wish-form-modal {
    .modal-header,
    .modal-content {
        padding: 0;
    }

    .modal-inner-wrap,
    .modal-content {
        border-radius: 12px;
    }

    .modal-inner-wrap {
        max-width: 900px;
        overflow: hidden;
    }

    .action-close {
        z-index: 10;

        &::before {
            color: #fff;
            font-size: 18px;
        }
    }
}

.wish-popup {
    position: fixed;
    bottom: 20px;
    right: 0;
    border-radius: 12px;
    overflow: hidden;
    z-index: 777;
    background: @popup-bg-gradient;
    box-shadow: 0 10px 30px @shadow-light;

    transform: translateX(100%); // Изначально скрыт
    transition: transform 0.4s ease, width 0.4s ease, height 0.4s ease;

    &.minimized {
        max-width: 400px;
        width: 100%;
        height: 140px;
        transform: translateX(0);
    }
}

.wish-popup-visible {
    transform: translateX(0); // Плавное открытие справа
}

.wish-close-button-container {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    width: fit-content;

    button {
        z-index: 2;
        position: relative;
    }
}

.flavors-regular {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.main-wish-content {
    background: url('@{baseDir}Doroshko_WishReward/images/bg.webp') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    position: relative;
}

.wish-button {
    background: @button-bg-gradient;
    color: @button-text-color;
    border-radius: @button-radius;
    font-size: @button-font-size;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 20px 20px;
    transition: .2s all ease-in-out;
    box-shadow: 4px 8px 6px rgba(51, 51, 51, 0.15);

    &:hover {
        box-shadow: 4px 8px 12px rgba(51, 51, 51, 0.2);
    }
}

.cta-wish-content {
    position: relative;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
        padding: 14px;

        p {
            font-family: "DynaPuff", system-ui;
        }
    }

    &-image {
        width: 120px;
        height: 100%;
        background: url('@{baseDir}Doroshko_WishReward/images/gift.jpg') no-repeat;
        background-size: cover;
        z-index: 2;
    }
}

.wish-form,
.wish-coupon-container {
    max-width: 340px;
    margin-left: 40px;
    background: #f81e3d;
    padding: 20px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 16px;
    position: relative;
    z-index: 11;

    &::before {
        display: block;
        position: absolute;
        content: '';
        top: -105px;
        left: -40px;
        width: 370px;
        height: 240px;
        background-image: url('@{baseDir}Doroshko_WishReward/images/snow.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 10;
    }

    label,
    h2 {
        font-size: @label-font-size;
        line-height: 1.2;
        text-transform: uppercase;
        font-family: "DynaPuff", system-ui;
        color: @button-text-color;
        text-align: center;
        display: block;
        margin-bottom: 12px;
    }

    textarea {
        border: 4px solid @textarea-border-color;
        min-height: 100px;
        background-color: #d61935;
        color: #fff;
        box-shadow: inset 1px 1px 3px rgba(164, 16, 37, 0.25);
        border-radius: 2px;
        font-size: 18px;
        margin-bottom: 14px;

        &::placeholder {
            font-size: 18px;
            color: #fff;
        }
    }
}

.wish-wheel-container {
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(30%) translateY(30%);
    z-index: 12;

    .wish-wheel-box {
        transform: rotate(-45deg);
        position: relative;
    }
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.the-primary-button {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    background-color: #07403a;
    border: 2px solid #07403a;

    &:hover {
        cursor: pointer;
        border: 2px solid #07403a;
    }

    .round {
        border-radius: 50%;
        background-color: #1ec5a3;
        position: absolute;
        top: 5px;
        left: 10px;
        z-index: 1;
        animation: scale-down .4s forwards ease-in;
    }

    .button-text {
        position: relative;
        z-index: 2;
        color: #fff;
    }

    &.animate .round {
        animation: scale-up .6s forwards ease-in-out;
    }
}

.wish-coupon-container {
    margin: 0 auto;
    background-color: #f81e3d;
    max-width: 400px;

    p {
        font-family: "DynaPuff", system-ui;
        font-size: 24px;
        color: #fff;

        span {
            font-size: 32px;
            display: block;
            padding: 12px;
            color: #FFD700;
        }
    }
}

@keyframes scale-up {
    to {
        transform: scale(600);
    }
}

@keyframes scale-down {
    from {
        transform: scale(600);
    }
    to {
        transform: scale(0);
    }
}

#snow-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}
