<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Регистрация CouponGenerator -->
    <type name="Doroshko\WishReward\Model\CouponGenerator">
        <arguments>
            <argument name="couponFactory" xsi:type="object">Magento\SalesRule\Model\CouponFactory</argument>
            <argument name="dateTime" xsi:type="object">Magento\Framework\Stdlib\DateTime\DateTime</argument>
        </arguments>
    </type>

    <!-- Регистрация модели конфигурации Config -->
    <type name="Doroshko\WishReward\Model\Config">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface</argument>
        </arguments>
    </type>

    <!-- Регистрация коллекции для UI-компонента -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wishreward_wishes_data_source" xsi:type="string">Doroshko\WishReward\Model\ResourceModel\Wish\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Регистрация Resource Model Wish -->
    <type name="Doroshko\WishReward\Model\ResourceModel\Wish">
        <arguments>
            <argument name="connectionName" xsi:type="string">default</argument>
        </arguments>
    </type>

    <!-- Регистрация Collection -->
    <type name="Doroshko\WishReward\Model\ResourceModel\Wish\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">wishreward_wishes</argument>
            <argument name="eventPrefix" xsi:type="string">wishreward_wishes_collection</argument>
        </arguments>
    </type>

    <!-- Регистрация DataProvider -->
    <type name="Doroshko\WishReward\Model\Wishes\DataProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Doroshko\WishReward\Model\ResourceModel\Wish\CollectionFactory</argument>
            <argument name="request" xsi:type="object">Magento\Framework\App\RequestInterface</argument>
        </arguments>
    </type>

    <!-- Регистрация блока WishContentRenderer -->
    <type name="Doroshko\WishReward\Block\WishContentRenderer">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session</argument>
            <argument name="config" xsi:type="object">Doroshko\WishReward\Model\Config</argument>
        </arguments>
    </type>
</config>
