<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Doroshko\WishReward\Model\CouponGenerator">
        <arguments>
            <argument name="couponFactory" xsi:type="object">Magento\SalesRule\Model\CouponFactory</argument>
            <argument name="dateTime" xsi:type="object">Magento\Framework\Stdlib\DateTime\DateTime</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>

    <type name="Doroshko\WishReward\Model\Config">
        <arguments>
            <argument name="scopeConfig" xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="wishreward_wishes_data_source" xsi:type="string">Doroshko\WishReward\Model\ResourceModel\Wish\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Doroshko\WishReward\Model\Wishes\DataProvider">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Doroshko\WishReward\Model\ResourceModel\Wish\CollectionFactory</argument>
        </arguments>
    </type>
</config>
