<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Doroshko_WishReward::main"
             title="Wish Reward"
             module="Doroshko_WishReward"
             sortOrder="55"
             resource="Doroshko_WishReward::main" />

        <add id="Doroshko_WishReward::config"
             title="Configuration"
             module="Doroshko_WishReward"
             sortOrder="60"
             parent="Doroshko_WishReward::main"
             action="adminhtml/system_config/edit/section/wishreward_settings"
             resource="Doroshko_WishReward::config" />

        <add id="Doroshko_WishReward::wishes"
            title="Wishes"
            module="Doroshko_WishReward"
            sortOrder="30"
            parent="Doroshko_WishReward::main"
            action="wishreward/wishes/index"
            resource="Doroshko_WishReward::wishes" />
    </menu>
</config>
